.video-container {
    width: 100%;
    height: 60vh; /* Set default height to 60vh */
    overflow: hidden;
    position: relative;
}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-container video.mobile-video {
    display: none;
}
#content {
    padding: 40px 20px;
    max-width: 1400px; /* Increased width for desktop mode */
    margin: 0 auto;
}
@media (max-width: 600px) {
    .video-container {
        height: 50vh; /* Adjust height for smaller screens */
    }
    .video-container video {
        display: none;
    }
    .video-container video.mobile-video {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    #content {
        max-width: 100%;
        padding: 20px;
    }
}
